/*all*/
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Kumbh Sans';
	font-weight: 400px, 700px;
	width: 1440px;
	background-color: hsl(185, 75%, 39%);
}

#circle01{
	border-image: url(images/bg-pattern-top.svg);
	background-repeat: no-repeat;
	background-position: 10% 100px;
	
}

#circle02{
	background-image: url(images/bg-pattern-bottom.svg);
	background-repeat: no-repeat;
	background-position: 120% 450px;

}

.container{
	margin: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imagem-card{
	display: inline-flex;
	justify-content: center;
	height: 150px;
	width: 400px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.initial{
	background-color: hsl(0, 0%, 100%);
	height: 200px;
	width: 400px;

	border-bottom:  0.5px solid hsl(0, 0%, 90%);
	
}
p{
	color:  hsl(0, 0%, 59%);
}

span{
	color: hsl(0, 0%, 0%);
	font-weight: bold;
	font-size: 18px; 
}

#imagem-victor{
	display: flex;
	position: absolute;
	top:300px;

	width: 100px;
	height: 100px;
	border-radius: 20px;
	border: 10px solid hsl(0, 0%, 100%);
}

/*lista*/
.lista{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(0, 0%, 100%);
	height: 100px;
	width: 400px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

li {
	list-style: none;
	background-color: hsl(0, 0%, 100%);
	padding: 20px 40px 20px 20px;
	color:  hsl(0, 0%, 59%);
	display: inline-block;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: space-around;

}

/*---------------------------------------------------*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }